* {
	box-sizing: border-box;
	
}

body{
	background: linear-gradient(135deg, #1e3c72, #2a5298); /* Contoh gradasi */
    background-size: cover; /* Untuk gambar */
    background-attachment: fixed; /* Agar gambar tidak scroll */
	
}
